*.7z
/backup
/bin
*.log
/hexchat
/HexChatPortable
/UOAM
/easyuo
/OpenEUO
/Razor
/uoclient
config.cmd
customapps.cmd
killapps.cmd
desktop.ini
*.swp
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.com
*.class
*.dll
*.exe
*.o
*.so

